# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ET.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\ZombineRunOthers\ET-release8.1\.idea\.idea.ET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
